#include "rcstuff.h"
#include "putty-rc.h"

#define APPNAME "KiTTYtel"
#define APPDESC "Telnet and Rlogin client"

IDI_MAINICON ICON "kitty_icons/icon_0.ico"
IDI_CFGICON ICON "puttycfg.ico"

#include "help.rc2"
#include "putty-common.rc2"

#ifndef NO_MANIFESTS
1 RT_MANIFEST "puttytel.mft"
#endif /* NO_MANIFESTS */
